
*{
    height: 50px;
    width: 100%;
    height: 50px;
    background-color: #928aec;
    font-size: 20px;
    border-radius: 10px;
}
body {
    font-variant: initial;
    font-size: larger;
    font-weight: 400;
    color : "#766fcc"

}
button {
    margin-top: 20px;
    border-radius: 0cqw;
    background-color: #74a8df;
    color: rgb(0, 0, 0);
    
}
